<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />

    <title><%= agent.id %></title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        body
        {
            background:
                radial-gradient(
                    circle at top,
                    rgba(99, 102, 241, 0.15),
                    transparent 40%
                ),
                #09090b;
        }
    </style>
</head>

<body class="min-h-screen text-white">
</body>
</html>